@import "../vars.less";

#errorPage {
  background: rgb(69,66,66);
  background: radial-gradient(circle, rgba(69,66,66,1) 0%, rgba(0,0,0,1) 100%);
    #message {
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    top: 13%;
    left: 5%;
  }

  button {
    background-color: white;
    width: 250px;
    height: 42px;
    font-family: "Iceberg";
    font-size: 25px;
    border: 3px solid black;
    border-radius: 5px;
    &:hover {
      background-color: @yellow;
      color: black;
      border: 3px solid black;
      animation: 1s button linear;
    }
  }

  #message404 {
    font-family: "Iceberg";
    font-size: 96px;
    margin: 50px;
    line-height: 117px;
    display: flex;
    align-items: center;
    text-align: center;
    color: @yellow;
    text-shadow: 8px 8px 8px black;
  }
}

@keyframes button {
  from {
    background-color: white;
    width: 250px;
    height: 42px;
  }
  50% {
    background-color: @yellow;
    width: 270px;
    height: 62px;
  }
  to {
    background-color: white;
    width: 250px;
    height: 42px;
  }
}

@media screen and (max-width: 420px) {
  #errorPage {
    button {
      width: 250px;
      height: 80px;
      font-size: 30px;
    }

    #message404 {
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 100px;
    }
  }
}
