@import "../vars.less";

#toLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @white;

  h1 {
    font-size: 75px;
    text-shadow: 5px 2px #fdda10;
    margin: 20px;
    font-family: "Iceberg";

    &:hover {
      color: #fdda10;
      text-shadow: 5px 2px black;
    }
  }

  h2 {
    font-family: "Dosis";
    font-size: 30px;
  }

  .login-logo {
    width: 271px;
    height: 287px;
  }
}
