#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

h1 {
    font-size: 60px;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 5px 2px #FDDA10;
    margin: 20px;

    &:hover {
        color: #FDDA10;
        text-shadow: 5px 2px black;
    }
}

h2 {
    font-style: italic;
}