@import "../vars.less";

.Characters,
.displayMinders {
  font-family: "Iceberg";
}

.characterPage {
  min-height: 100vh;
  transition: 0.5s background;
}

.Characters {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

  #characterTitle {
    font-size: 70px;
    align-self: center;
  }

  .minderVideo {
    div {
      display: flex;
      justify-content: center;

      iframe {
        height: 450px;
        width: 60%;
      }
    }
  }
}

.displayMinders {
  h2 {
    padding-left: 16px;
    font-size: 28px;
  }

  .mindersSuggestions {
    display: flex;
    justify-content: space-around;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.minderPhoto {
  margin-bottom: 60px;
  img {
    width: 252px;
    height: 252px;
    border: 13px solid black;
    border-radius: 5px;
    transition: 0.5s border;

    &:hover {
      opacity: 0.5;
    }
  }

  h3 {
    position: relative;
    bottom: 50px;
    background: @yellow;
    text-align: center;
    border: 3px solid black;
    transition: 0.5s border;
    font-size: 24px;
    line-height: 30px;
  }
}

.night-mode {
  .characterPage {
    background: rgb(19, 19, 19);
    transition: 0.5s background;
  }

  .minderPhoto {
    img {
      border: 13px solid white;
      transition: 0.5s border;
    }

    h3 {
      border: 3px solid white;
      transition: 0.5s border;
    }
  }
}

@media screen and (max-width: 770px) {
  .mindersSuggestions {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .Characters {
    #characterTitle {
      font-size: 50px;
    }
  }

  .displayMinders {
    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 0px;
      width: 100%;
    }
  }

  .mindersSuggestions {
    flex-direction: column;
    align-items: center;

    .minderPhoto {
      margin-bottom: 60px;

      h3 {
        width: 98%;
        bottom: 50px;
      }
    }
  }
}
