@import "../vars.less";

.storyButton {
    background: @grey;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;

    * {
        font-family: "Iceberg";
    }

    p {
        text-align: center;
    }

    div {
        display: flex;
        justify-content: space-around;

        button {
            background: @white;
            border: 1px solid @black;
        }
    }
}