@import "../vars.less";

.GameForm {
  min-height: 100vh;
  transition: 0.5s background;

  main {
    display: flex;
    flex-direction: column;

    section {
      display: flex;
      min-height: 100px;
      margin-top: 5%;

      .form, .avatar {
        width: 100%;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .form {
        border-right: 3px solid @black;
        transition: 0.5 border;
      }
    }
  }
}

.night-mode {
  .GameForm {
    background: @darkgrey;
    transition: 0.5s background;
  }
}

// tablet
@media screen and (max-width: 770px) {
}

// phone
@media screen and (max-width: 420px) {
  .GameForm {
    main {
      section {
        display: flex;
        flex-direction: column;
        div {
          min-height: 0;
          &:first-of-type {
            border-right: 0;
            border-bottom: 3px solid @black;
            transition: 0.5 border;
          }
        }
      }
      #button-container {
        .start {
          width: 100px;
          height: 50px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
