@import "../vars.less";

aside {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    109.6deg,
    rgba(255, 207, 84, 1) 11.2%,
    rgba(255, 158, 27, 1) 91.1%
  );
  display: flex;
  font-size: 22px;
  font-family: "Iceberg";
  padding-bottom: 70px;

  .dropdownGame {
    height: 30px;
    width: 200px;
    margin: 15px;
    font-size: 18px;
    font-family: "Iceberg";
  }

  .valueDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gameProfile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
