@import "../vars.less";

.storyPart {
  width: 90%;
  margin-top: 20px;

  * {
    font-family: "Iceberg";
  }

  article {
    padding-left: 8px;
    border: 2px solid @black;
    &:first-of-type {
      min-height: 56px;
      background: @white;
      border-bottom: 1px solid @black;
      padding-bottom: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-right: 8px;

      .gameEmail {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(244, 244, 244);
        text-align: justify;
        border-width: 10px;
        border-color: red;
        border-style: double;
        box-sizing: border-box;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        * {
          width: 95%;
        }

        p {
          text-align: justify;
        }
      }

      .gameBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(244, 244, 244);
        text-align: justify;
        border-width: 5px;
        border-color: @yellow;
        border-style: solid;
        box-sizing: border-box;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        * {
          width: 95%;
        }

        p {
          text-align: justify;
        }
      }

      button {
        margin-top: 10px;
        min-width: 60px;
        height: 24px;
        padding: 0px 4px;
        background: @white;
        border: 2px solid @black;
        font-size: 16px;
        border-radius: 4px;

        &:hover{
          background-color:@yellow; 
        }
      }
    }

    &.closed {
      display: none;
    }

    &:last-of-type {
      height: 28px;
      background: @yellow;
      border-top: 1px solid @black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;

      p {
        margin: 0;
      }

      button {
        cursor: pointer;
        border-radius: 50%;
        font-size: 16px;
        font-weight: 900;
      }
    }
  }
}
