@import "../vars.less";

.GameForm {
  height: 100%;
  transition: 0.5s background;

  main {
    display: flex;
    flex-direction: column;

    section {
      display: flex;
      min-height: 100px;
      margin-top: 5%;

      div {
        width: 100%;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-of-type {
          border-right: 3px solid @black;
          transition: 0.5 border;
        }
      }
    }

    #button-container {
      display: flex;
      justify-content: center;
      .start {
        width: 178px;
        height: 57px;
        background: black;
        color: white;
        border: 3px solid white;
        border-radius: 20px;
        font-size: 18px;
        box-sizing: content-box;
        transition: 0.5s background, 0.5s color;
      }
    }
  }
}
.night-mode {
  .GameForm {
    background: @darkgrey;
    transition: 0.5s background;
  }

  #button-container {
    .start {
      background: white;
      color: black;
      border: 3px solid black;
      transition: 0.5s background, 0.5s color;
    }
  }
}

@media screen and (max-width: 900px) {
  .GameForm {
    main {
      section {
        display: flex;
        flex-direction: column;
        div {
          min-height: 0;
          &:first-of-type {
            border-right: 0;
            border-bottom: 3px solid @black;
            transition: 0.5 border;
          }
        }
      }
      #button-container {
        .start {
          width: 100px;
          height: 50px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
