@import "../vars.less";

.gameParts {
  min-height: 90vh;
  display: flex;

  .game {
    width: 70%;
    background-color: @white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;

    .helloTitle {
      font-size: 30px;
    }
  }

  .endGame {
    margin-top: 30px;
    background-color: rgba(175, 180, 174, 0.3);
    width: 80%;

    * {
      font-family: "Dosis";
      width: 100%;
    }

    li {
      width: auto;
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 30px;
        text-align: center;
      }
    }
  }
}

.night-mode {
  .gameParts {
    background: rgb(19, 19, 19);
    transition: 0.5s background;
  }
  .game {
    background: rgb(19, 19, 19);
    transition: 0.5s background;
  }
  .helloTitle {
    color: @white;
  }
}

@media screen and (max-width: 420px) {
  .gameParts {
    flex-direction: column;

    .game {
      width: 100%;
    }
  }
}
